<hello name="{{ name }}">
	<div class="content-1">
		Content for ng-content 1
	</div>
	<div class="content-2">
		Content for ng-content 2
	</div>
</hello>

<br/><br/><br/><br/>

<ng-container *ngIf="!displayItems else elsecontent">
	<div *ngFor="let item of items">
		{{item.name}}
	</div>
</ng-container>


<br/><br/><br/><br/>

<ng-container *ngFor="let item of items">
	<div *ngIf="!displayItems else elsecontent">
		{{item.name}}
	</div>
</ng-container>

<ng-template #elsecontent>
	<div>Click button to display names</div>
</ng-template>

<button (click)="toggleItems()">{{displayItems?'Display Names':'Hide Names'}}</button>